*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

section{
    padding: 15px 0;
}

.flex{
    display: flex;
}

.box, .box-nested, .box-larger{
    background-color: rgb(36, 81, 204);
    border: 1px solid white;
    display: flex;
    width: 100%;
    
}

.box, .box-nested{
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 60px;
}

.box-larger{
    padding: 50px;
}

.box-nested{
    background-color: lightgreen;
    border: 1px solid black;
}

.align-items-middle{
    align-items: center;
}

.align-items-bottom{
    align-items: flex-end;
}

.space-around{
    justify-content: space-around;
}

.space-between{
    justify-content: space-between;
}
