*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

section{
    padding: 15px 0;
}

.box, .box-nested{
    background-color: rgb(36, 81, 204);
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 60px;
}

.box-larger{
    padding: 60px;
}

.box-nested{
    background-color: lightgreen;
    border: 1px solid black;
}
.space-around{
    justify-content: space-around;
}

.space-between{
    justify-content: space-between;
}
